
   <!-- <p>
    Book: {{ parentsBookName }}
  </p>
  <p>
    Publisher: {{ parentsBookPublisher }}
 </p> -->

 <!-- ******************** @Output Child to Parent ****************************** -->
<!-- 
 <h2> Child1</h2>

	<input
	 type="text"
	(keyup)="onBookChange()"
	[(ngModel)]="bookName"
	placeholder="Enter book name here">

	<input
	 type="text"
	 (keyup)="onPublisherChange()"
	 [(ngModel)]="publisher"
	 placeholder="Enter publisher here"> -->

<!-- ******************** @ViewChild Child to Parent ****************************** -->

   <p>
		<label>Book Name</label>
		<input
		type="text"
		[(ngModel)]="bookInfo.bookName"
		placeholder="Book name please">
	</p>

	<p>
		<label>Publisher</label>
		<input
		type="text"
		[(ngModel)]="bookInfo.publisher"
		placeholder="Publisher name">
	</p>
